<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC-icub4noIoWiiF2tBks1XAzSeA5FiCr4</string>
	<key>GCM_SENDER_ID</key>
	<string>84576014966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.willl.stocktw</string>
	<key>PROJECT_ID</key>
	<string>stock-app-89b5a</string>
	<key>STORAGE_BUCKET</key>
	<string>stock-app-89b5a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:84576014966:ios:9b87b52abbae969ceac557</string>
</dict>
</plist>